<template>
  <v-app>
    <v-card class="green lighten-4">
    <v-content
      class="black--text mainpage"
    >
      <contact-bar/>
      <landing-img/>
      <router-view/>
      <footer-bar/>
    </v-content>
    </v-card>
  </v-app>
</template>

<script>
import ContactBar from '@/components/Contactbar'
import LandingImg from '@/components/LandingImage'
import FooterBar from '@/components/Footer'
export default {
  components: {
    ContactBar,
    LandingImg,
    FooterBar
  },
  data () {
    return {
    }
  },
  name: 'App'
}
</script>
<style scoped>
.mainpage{
  max-width: 1024px; 
  margin:0 auto; 
  background-color: rgb(255, 255, 255); 
  color: rgb(50,50,50);
  box-shadow: -10px 0 15px rgba(0,0,0,0.9), 10px 0 15px rgba(0,0,0,0.9); 
}
</style>
