<template>
<!-- <transition name="contact-bar"> -->
<v-content class='transparent menubar' id="menubar">
  <v-layout column v-show="chat" class="transparent ma-3 white--text" dark flat>
    <v-container v-if="!message_sent" grid-list-md text-xs-center>
      <v-card-title class="hidden-sm-and-down white--text lighten-2 titletext mt-1 display-1 text-xs-center">The Simple Choice</v-card-title>
      <v-card-text class="white--text hidden-sm-and-down mb-2 text-xs-left">for your next web or software development project</v-card-text>
      <v-layout row wrap ma-1>
        <v-flex xs12 sm6>
          <v-layout column ma-1>
            <v-text-field label="Name" name="cont_name" v-model="cont_name" outline class="ma-0 pa-0" dark></v-text-field>
            <v-text-field label="Email" name="cont_email" v-model="cont_email" outline class="mt-0 ma-0 pa-0" dark></v-text-field>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm6>
          <v-layout column ma-1>
            <v-textarea outline name="cont_message" label="Message..." v-model="cont_message" value="" dark></v-textarea>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-btn small outline @click.native="sendMsg" :loading="loading" left dark>SEND</v-btn>
    </v-container>
    <v-container v-else grid-list-md text-xs-center>
      <h1>Thank You!</h1>
      <p>Looking forward to speaking with you soon.</p>
    </v-container>
  </v-layout>
  <v-btn @click.native="openChat" :loading='loading' align-center outline id="chatbutton" class="blue blue--text" dark large>
    {{chatbuttonmess}}
  </v-btn>
</v-content>
<!-- <transition> -->
</template>

<script>
import {sendMessage} from '@/api'
export default {
  data () {
    return {
      chat: false,
      chatbuttonmess: 'LETS CHAT!',
      cont_name: undefined,
      cont_email: undefined,
      cont_message: undefined,
      message_sent: undefined,
      loading: false
    }
  },
  methods: {
    sendMsg: function () {
      this.loading = true
      let message = {
        'from': this.cont_email,
        'name': this.cont_name,
        'body': this.cont_message
      }
      return sendMessage(message).then(res => {
        this.loading = false
        this.cont_name = undefined
        this.cont_email = undefined
        this.cont_message = undefined
        this.message_sent = true
        this.chatbuttonmess = 'Close'
      })
    },
    openChat: function () {
      // function sleep (time) {
      //   return new Promise((resolve) => setTimeout(resolve, time))
      // }
      var mess = document.getElementById('menubar')
      if (!this.chat) {
        mess.style.top = '0px'
        this.chat = true
        this.loading = true
        // sleep(999).then(() => {
        this.loading = false
        this.chatbuttonmess = 'Later On...'
        // })
      } else {
        mess.style.top = '-475px'
        this.chat = false
        this.loading = true
        // sleep(999).then(() => {
        this.loading = false
        if (this.message_sent) {
          this.chatbuttonmess = 'Message Sent!'
        } else {
          this.chatbuttonmess = 'LETS CHAT!'
        }
        // })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.menubar {
  z-index: 1000;
  height: 550px;
  width: 100%;
  position: absolute;
  top: -475px;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
  transition: top 1s linear;
}

.menubaropen {
  transition: top 1s linear;
  top: -0px;

}

#chatbutton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
</style>
