<template>
  <v-layout row class="footer">    
        <v-flex
        xs4
        d-flex
      >
        <v-card flat tile class="d-flex">
        <v-img
            :src="`https://kylejoeckel.com/assets/php.png`"
            aspect-ratio="1"
            class="grey lighten-2"
          >
            <v-layout
              slot="placeholder"
              fill-height
              align-center
              justify-center
              ma-0
            >
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-layout>
          </v-img>
          </v-card>
          </v-flex>
            <v-flex
            xs4
            d-flex
          >
            <v-card flat tile class="d-flex">
            <v-img
                :src="`https://kylejoeckel.com/assets/python.png`"
                aspect-ratio="1"
                class="grey lighten-2"
              >
                <v-layout
                  slot="placeholder"
                  fill-height
                  align-center
                  justify-center
                  ma-0
                >
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-layout>
              </v-img>
              </v-card>
              </v-flex>
              <v-flex
              xs4
              d-flex
            >
              <v-card flat tile class="d-flex">
              <v-img
                  :src="`https://kylejoeckel.com/assets/js.jpg`"
                  aspect-ratio="3"
                  class="grey lighten-2"
                >
                  <v-layout
                    slot="placeholder"
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </v-img>
                </v-card>
                </v-flex>
                <v-flex
          xs4
          d-flex
        >
          <v-card flat tile class="d-flex">
          <v-img
              :src="`https://kylejoeckel.com/assets/mysql.gif`"
              aspect-ratio="3"
              class="grey lighten-2"
            >
              <v-layout
                slot="placeholder"
                fill-height
                align-center
                justify-center
                ma-0
              >
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-layout>
            </v-img>
            </v-card>
            </v-flex>
            <v-flex
            xs4
            d-flex
          >
            <v-card flat tile class="d-flex">
            <v-img
                :src="`https://kylejoeckel.com/assets/html.png`"
                aspect-ratio="3"
                class="grey lighten-2"
              >
                <v-layout
                  slot="placeholder"
                  fill-height
                  align-center
                  justify-center
                  ma-0
                >
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-layout>
              </v-img>
              </v-card>
              </v-flex>
            <v-flex
          xs4
          d-flex
        >
          <v-card flat tile class="d-flex">
          <v-img
              :src="`https://kylejoeckel.com/assets/mongo.png`"
              aspect-ratio="3"
              class="grey lighten-2"
            >
              <v-layout
                slot="placeholder"
                fill-height
                align-center
                justify-center
                ma-0
              >
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-layout>
            </v-img>
            </v-card>
            </v-flex>
      </v-layout>
</template>
<script>
export default {
  data () {
    return {
      title: 'Footer'
    }
  }
}
</script>
<style scoped>
.footer {
  z-index: 1000;
  margin: 0px; 
  background-color: black; 
  width: 100%; 
  height: 75px;
}
</style>


