<template>
  <v-container class="ma-0 pa-0" fluid>
      <section>
        <v-layout
          column
          wrap
        >
        <v-card>
          <v-flex xs12>
            <v-card class="transparent pa-4 text-xs-center">
              <h1 class="headline">Meet Kyle Joeckel</h1>
              <p class="subheading">
                Full Stack Web and Software Developer  
              </p>
              <p>I started my career in web development and computer programming in 2016. 
                I have been formally trained in Object Oriented Programming and am well versed in a 
                variety of languages including but not limited to Python, JavaScript, PHP and more! Whether your looking for 
                an expert in data processing solutions or beautifully crafted and well designed web pages, I'd love to chat!
              </p>
            </v-card>
          </v-flex>
        </v-card>
        <v-card>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-start>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">whatshot</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Modern Technologies</div>
                    </v-card-title>
                    <v-card-text>
                      I am devoted to using only the latest and greatest web & software technologies. 
                      I maintain a strong knowledge of some of the most popular front end frameworks such as Vue.js, React, 
                      as well as Angular. 
                      I also work with powerful backend technologies such as Node.js, Django & Flask, and Laravel.  
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Fast Development</div>
                    </v-card-title>
                    <v-card-text>
                      I deliever both quality and quantity. I know you dont have time to wait months
                      for deployment, I have what it takes to get the job done quickly without sacrificing 
                      functionality.  
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Reliable Code</div>
                    </v-card-title>
                    <v-card-text>
                      My code is clean, commented, and easy to maintain. Testing, both automated and physical, is imperative and implemented regularly to ensure 
                      stable and error resistant development.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-card>
        </v-layout>
      </section>
      <section>
        <v-card>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Mission Statement</div>
                </v-card-title>
                <v-card-text>
                  Dedicated to providing you with the most reliable and up to date technology in web and software tools for your business. Whatever you need, I can help.
                  I can't wait to speak with you about how I can help your business thrive! 
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">
                    Let's Connect
                  </div>
                </v-card-title>
                <v-list class="transparent">        
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>720-355-8164</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Me@KyleJoeckel.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Denver, CO</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      </section>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
