<template>
  <section>
    <v-card class="green lighten-2 landingbox" fill-height>
      <div class="transparent-cover">
    <img src="https://kylejoeckel.com/assets/assembly.png" class="pa-0 ma-0 mainImg"/>
      </div>
    </v-card>
  </section>
</template>
<script>
export default {
  data () {
    return {
      title: 'Landing Image'
    }
  }
}
</script>
<style scoped>
.mainImg {
  width: 100%;
  height: auto;  
  margin: 50px auto;
}
.transparent-cover {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(255,255,255,0.7);
}
.landingbox{
  height:550px; 
  padding:0px;
  background-image: url('https://picsum.photos/1024/550/?random');
}
@media only screen and (max-width: 600px) {
  .transparent-cover {
    padding: 200px 0px 0px 0px;
  }
}
</style>


